@model Cadastro__.Models.clienteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar Cliente</h1>

<h3>Você tem certeza que deseja deletar o cadastro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cadData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cadData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoPessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cpfcnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cpfcnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inscEstadual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inscEstadual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cadStatus)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.cadStatus)
            {
                <span>Bloqueado</span>
            }
            else
            {
                <span>Ativo</span>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataNasc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataNasc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-dark my-2" asp-action="Index">Voltar</a>
    </form>
</div>
